body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: blue;
}
.navbar .navbar-brand {
  color: #742f7e;
  font-size: 24px;
}

.container-fluid {
  color: purple;
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-expand-lg {
  background-color: #fafafa;
}
.collapse .navbar-collapse {
  padding-right: 30px;
  color: #94128a;
}
.bg-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
.card-deck {
  display: flex;
}
